<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/5810601f-58ba-4bfa-a29c-cea88304fbd5/resourceGroups/AIDemoDNCSDKK/providers/Microsoft.ApiManagement/service/WebApiSdkapi/apis/WebApiSdk</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/5810601f-58ba-4bfa-a29c-cea88304fbd5/resourceGroups/AIDemoDNCSDKK/providers/Microsoft.Web/sites/WepAppDemoDNCSDKKLin</ResourceId>
    <ResourceGroup>AIDemoDNCSDKK</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://wepappdemodncsdkklin.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>b457e6f8-77a4-48b2-a135-d92a3a40dcd9</ProjectGuid>
    <PublishUrl>https://wepappdemodncsdkklin.scm.azurewebsites.net/</PublishUrl>
    <UserName>$WepAppDemoDNCSDKKLin</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>